
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body>
    
{% block content %}
<div class="container mx-auto mt-8">
    <h1 class="text-2xl font-semibold mb-4">Login History</h1>

    <!-- Table to display login history -->

    <a href="{% url 'generate_pdf_report' %}" class="cursor-pointer underline text-blue-500 hover:text-blue-600">
        <button class="bg-blue-500 p-4 text-white rounded-md mt-2 mb-2">Generate PDF Report</button>
    </a>

    <a href="/" class="cursor-pointer underline text-gray-500 hover:text-blue-600">
        <button class="bg-gray-500 p-4 text-white rounded-md mt-2 mb-2">Back Home</button>
    </a>


    <table class="min-w-full bg-white border rounded">
        <thead>
            <tr>
                <th class="px-4 py-2 border-b">Recognition Time</th>
                <th class="px-4 py-2 border-b">User</th>
                <th class="px-4 py-2 border-b">Recognition Image</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history_entries %}
                <tr>
                    <td class="px-4 py-2 border-b">{{ entry.recogntion_time }}</td>
                    <td class="px-4 py-2 border-b">{{ entry.user }}</td>
                    <td class="px-4 py-2 border-b">
                        {% if entry.recognition_image %}
                            <img src="{{ entry.recognition_image.url }}" height="150" width="150" alt="Recognition Image" class="w-24 h-24">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="px-4 py-2 border-b">No login history available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

</body>
</html>